## Analyzing Chipotle data using pandas

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).
### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep= '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

Note: The observation refers to the <i>number of rows</i> in a dataset.  There are two ways to get the row numbers:
- use `len(dataframe)`
- use `dataframe.shape[0]`

Solution 1

In [4]:
len(chipo)

4622

Solution 2

In [5]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

Use `dataframe['column'].mode()` to get the value with the highest count.

In [9]:
chipo['item_name'].mode()

0    Chicken Bowl
dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
chipo['item_name'].value_counts()[:1]

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the "`choice_description`" column (use "`groupby`" function)

#### Solution 1

- enhance output by showing only `quantity` column in display result.
- TIP: Use `.to_frame()` to display a series as a dataframe

In [11]:
# do groupby and sum all columns with numeric data type
item_df = chipo.groupby(['choice_description']).sum()
item_df = item_df.sort_values('quantity', ascending=False)

# item_df.head(1)  # this would show other column values alongside 'quantity' column

# keep only quantity column and drop the rest of the columns from the dataframe
# note - pandas convert a dataframe object to a series if it contains only one column
item_df = item_df['quantity']
print(f"{type(item_df) = }")

print('\nSeries object does not show column heading\n\n', item_df.head(1))

# to display the column heading for a series object, convert it to a dataframe using "<series object>.to_frame()"
# bonus = covert the series to a dataframe to display column heading using to_frame
print("\nDisplay series as data frame by passing 'to_frame() method'\n")
item_df.to_frame().head(1)   # converting series object to dataframe to display the column heading - print only the first row

type(item_df) = <class 'pandas.core.series.Series'>

Series object does not show column heading

 choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

Display series as data frame by passing 'to_frame() method'

                    quantity
choice_description
[Diet Coke]              159

#### Solution 2 (recommended) with agg function, more advanced - and <u>less code</u>

In [12]:
choice_quantity = chipo.groupby(['choice_description']).agg({'quantity': 'sum'})
top_item = choice_quantity.sort_values('quantity',ascending=False)[0:1]
top_item

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were ordered in total?

In [13]:
chipo['item_name'].count()

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type
Note that a column field with string values is evaluated as dtype ="O" or "object" in pandas.

In [14]:
a = chipo['item_price'].dtypes
a

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

- listing the item price for the first 5 rows to get the pattern of the price value
- then convert the price to a string, <u>ignore the first character (which always shows the dollar sign)</u> and convert the rest of the string as float

In [15]:
chipo['item_price'][:5]

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [16]:
# now convert the price value from string to a float:  
# Note: Be mindful to skip the first char which always shows the '$' sign when converting.

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:])) # the 'float(x[1:]' skips the 0 index and convert the rest of the x value to float
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type after the conversion
The column 'item_price'  should now show as float data type.

In [17]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

####  Solution
Multiply the *quantity* and *item_price* values for each row, THEN sum the product of all rows to get the revenue<br>
TIP: Round off the revenue amount to two decimal places using <b>numpy's</b> <i>round()</i> function

In [18]:

revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

TIP: Get the number of unique order_id values

In [19]:
unique_orders = chipo['order_id'].nunique()
unique_orders

1834

### Step 16. What is the average revenue amount per order?
Again, use the numpy *round()* function to round the average revenue amount to two decimal places.

In [20]:
avg_rev_per_order = revenue / unique_orders
print(  str(np.round(avg_rev_per_order,2)))

21.39

### Step 17. How many different items are sold?

Provide two solutions.

#### Solution 1 - use <b>*nunique()*</b> method

Use *nunique()* method to count the number of unique values

In [21]:
chipo['item_name'].nunique()

50

#### Solution 2 - get the count of value_counts
This is a good alternative

In [22]:
chipo["item_name"].value_counts().count()

50