### Ex2 - Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [45]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
### Step 3. Assign it to a variable called chipo.

In [46]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

#### Step 4a. Convert item_price to a float type

In [47]:
# use list comprehension to iterate through all rows and conver the price item
prices = [float(value[1:]) for value in chipo.item_price]

#   reaaign item_price column values with prices
chipo['item_price'] = prices

# check dtype of item_proce
print(f"{chipo.dtypes['item_price'] = }")

chipo.dtypes['item_price'] = dtype('float64')

#### Step 4B. reassign item_price values with 'prices' computed from 4a.

In [48]:
chipo.dtypes['item_price']

dtype('float64')

#### Step 4c. Filter for item price > $10.00

In [49]:
over_ten = chipo['item_price'] > 10.00
chipo_over_ten = chipo[over_ten]
len(chipo_over_ten)

1130

### Step 5. What is the price of each item?

In [50]:
chipo_over_ten

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 6. Sort by the name of the item
Show two ways to sort - note that the dataframes won't look the same way

In [57]:
# sort method #1
chipo1_item_name = chipo.sort_values(by='item_name',ascending=False) 

#sort method #2
chipo2_item_name = chipo['item_name'].sort_values().head(5)
chipo1_item_name.head(5)

,order_id,quantity,item_name,choice_description,item_price
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75

### Step 7. What was the quantity of the most expensive item ordered?

In [53]:
chipo.sort_values(by='item_price',ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

#### 8a. Method 1

In [61]:
filt = chipo['item_name'] == 'Veggie Salad Bowl'

len(chipo[filt])

18

#### 8b. Method 2

In [62]:
len(chipo[chipo['item_name'] == 'Veggie Salad Bowl'])

18

#### Step 9. How many times did someone order more than one Canned Soda?

In [64]:
len(chipo[ (chipo['item_name'] == 'Canned Soda') & (chipo["quantity"] > 1) ])

20